<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${title}"></h1>
<form th:action="@{/product/create}" method="post" th:object="${product}" enctype="multipart/form-data">
    <input type="hidden" th:field="*{proId}"/>

    <p>
        <label>Name: </label>
        <input type="text" th:field="*{proName}" required/>
    </p>

    <p style="border: 1px solid #ccc; padding: 10px;">
        <label>Image:</label>
        <br/>

        <strong style="display: block; margin-bottom: 5px;">Ảnh hiện tại:</strong>
        <img th:src="@{/uploads/{img}(img=*{img})}" width="100"
             style="border: 1px solid #ddd; padding: 2px; margin-bottom: 10px;" id="currentImage"/>

        <input type="file" id="fileInput" name="file" accept="image/*"/> <small style="display: block; color: gray;">*Chọn
        file mới để thay thế ảnh hiện tại.</small>


        <input type="hidden" th:field="*{img}" id="imgField"/>
    </p>

    <p>
        <label>Price: </label>
        <input type="number" th:field="*{price}" min="1000"/>
    </p>

    <p>
        <label>Description: </label>
        <input type="text" th:field="*{description}"/>
    </p>

    <p>
        <label>Category: </label>
        <select th:field="*{category.cateId}">
            <option th:each="category : ${categoryList}"
                    th:value="${category.cateId}"
                    th:text="${category.cateName}">
            </option>
        </select>
    </p>

    <p>
        <label>Active: </label>
        <input type="checkbox" th:field="*{active}"/>
    </p>

    <input type="hidden" th:field="*{proId}"/>


    <button type="submit"
            style="padding: 10px 20px; background-color: #007bff; color: white; border: none; cursor: pointer;">Submit
    </button>
    <button type="reset">Reset</button>
</form>
</body>
</html>