<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragment/frag :: head}"></head>
<body>
<div th:insert="~{fragment/frag::navbar}"></div>
<h1>Edit Voucher</h1>
<form method="post" th:action="@{/admin/vouchers/save}" th:object="${voucher}">
    <input type="hidden" th:field="*{voucherId}">
    <label>Voucher Code</label>
    <input type="text" th:field="*{code}" placeholder="Enter voucher code" required>
    <br>
    <br>
    <label>Voucher Name</label>
    <input type="text" th:field="*{voucherName}" placeholder="Enter voucher name" required>
    <br>
    <br>
    <label>Start Date</label>
    <input type="date" th:field="*{startDate}" required>
    <label>End Date</label>
    <input type="date" th:field="*{endDate}" required>
    <br>
    <br>
    <label>Quantity</label>
    <input type="text" placeholder="Enter quantity" th:field="*{quantity}" required>
    <br>
    <br>
    <label>Discount Type</label>
    <select th:field="*{discountType}">
        <option value="percent">percent</option>
        <option value="amount">amount</option>
    </select>
    <br>
    <br>
    <label>Discount Value</label>
    <input type="text" placeholder="Enter discount value" th:field="*{discountValue}" required>
    <br>
    <br>
    <label>Minimum Order Value</label>
    <input type="text" placeholder="Enter minimum order value" th:field="*{minOrderValue}" required>
    <br>
    <br>
    <p th:text="${message}"></p>
    <button type="submit">Save</button>
    <a th:href="@{/admin/vouchers/list}">Cancel</a>
</form>
<div th:insert="~{fragment/frag::footer}"></div>
</body>
</html>