<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>
<body>
<div class="container" >
    <form th:action="@{/profile/changePassword}" method="post">
        <h1>Change password</h1>
        <div th:if="${errorMessage}" style="color: red; font-weight: bold;">
            <p th:text="${errorMessage}"></p>
        </div>
        <p>
            <input type="hidden" th:value="${customer.cusId}" name="cusId">
        </p>
        <p>
            <label>Current password      :</label>
            <input type="password" name="currentPassword" required>
        </p>
        <p>
            <label>New password          :</label>
            <input type="password" name="newPassword" required>
        </p>
        <p>
            <label>Confirm new password  :</label>
            <input type="password" name="confirmPassword" required>
        </p>
        <p>
            <button type="submit" class="btn btn-warning">Submit</button>
            <button type="reset" class="btn btn-dark">Cancel</button>
        </p>
    </form>
</div>
</body>
</html>