<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Point History</h1>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="list : ${pointHistoryList}">
                <td th:text="${list.changeTime}"></td>
                <td th:text="${list.typeOfChange}"></td>
                <td th:text="${list.amount >= 0 ? '+' + list.amount : list.amount}"
                    th:classappend="${list.amount >= 0 ? 'text-success' : 'text-danger'}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>