<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Customer Profile</h1>
    <p>
        <img th:src="${customer.googleAccount} ? ${customer.img} : @{/uploads/{img}(img=${customer.img})}" alt="Avatar" width="80" height="80"
             style="border-radius: 50%; object-fit: cover;"/>
    </p>
    <div>Name: <span th:text="${customer.name}"></span></div>
    <div>Username: <span th:text="${customer.username}"></span></div>
    <div>Point: <span th:text="${customer.point}"></span></div>
    <div>Date of birth: <span th:text="${customer.dateOfBirth}"></span></div>
    <div>Phone number: <span th:text="${customer.phoneNumber}"></span></div>
    <div>Email: <span th:text="${customer.email}"></span></div>
    <a th:href="@{/profile/pointhistory}" type="button" class="btn btn-warning">Point
        History</a>
    <a th:href="@{/profile/edit}" type="button" class="btn btn-warning">Edit profile</a>
    <a th:href="@{/profile/changePassword}" type="button" class="btn btn-warning">Change
        password</a>
</div>
</body>
</html>