<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>Forgot Password</h2>
    <form method="post" action="/forgot-password">
        <p>
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
        </p>
        <div class="form-group">
            <label>Enter your email:</label>
            <input type="email" name="email" class="form-control" required>
        </div>
        <br>
        <button type="submit" class="btn btn-warning">Submit</button>
    </form>
</div>
</body>
</html>
