<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <form th:action="@{/set-password}" method="post">
        <h1>Change password</h1>
        <div th:if="${errorMessage}" style="color: red; font-weight: bold;">
            <p th:text="${errorMessage}"></p>
        </div>
        <input type="hidden" name="email" th:value="${email}" />
        <p>
            <label>Enter OTP:</label>
            <input type="text" name="otp" required>
        </p>
        <p>
            <label>New password :</label>
            <input type="password" name="newPassword">
        </p>
        <p>
            <label>Confirm new password :</label>
            <input type="password" name="confirmPassword">
        </p>
        <p>
            <button type="submit" class="btn btn-warning">Submit</button>
            <button type="reset" class="btn btn-dark">Cancel</button>
        </p>
    </form>
</div>
</body>
</html>